import 'package:xcnav/endpoint.dart';

/// Pub Sub for intra-group communication (??? TODO)
Endpoint reflectorNorthAmerica = Endpoint(apiUrl: 'unset', token: 'unset', cert: 'unset');

/// Datadog application ID and Token for a Real User Monitoring (RUM)
const String datadogRumAppId = "unset";
const String datadogToken = "unset";

/// Authentication for WeatherKit REST API
const String weatherkitToken = "unset";

/// Profile information URL and Token (??? TODO)
const String profileStoreUrl = "unset";
const String profileStoreToken = "unset";
